/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,600;0,800;1,200;1,300;1,400;1,800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Martian+Mono:wght@100;300;400;700&family=Orbitron:wght@400;700&family=Rubik+Vinyl&family=Space+Mono&family=Special+Elite&family=Tangerine&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
/* fonts{
    font-family: 'Bangers', cursive;
    font-family: 'Martian Mono', monospace;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Rubik Vinyl', cursive;
    font-family: 'Space Mono', monospace;
    font-family: 'Special Elite', cursive;
    font-family: 'Tangerine', cursive;
} */

/* global designs  */
htnl{
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
*{
    background: rgb(32, 32, 32);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Marcellus', serif;
    color: #fff;
    
}

a{
    color: #fff;
    text-decoration: none;
    align-items: center;
    text-align: center;
}

.header{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    width: 100%;
    font-size: 3rem;
    font-weight: 800;
    color: #fff; 
}
.logo:hover{
    transform: scale(1);
    transition: ease-out 200ms;
}

/* Navbar designs */
nav{
   width: 100%;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a{
    font-size: 1.2rem;
}
nav a:hover{
    transform: scale(1.2);
    transition: ease-in-out 500ms;
    color: rgb(202, 18, 144);
}

/* social icons design  */
.social-icons{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.social-icons a{
    font-size: 1.6rem;
    margin: 10px;
    padding: 5px;
}
.social-icons a:hover{
    transform: scale(1.7);
    transition: ease-in-out 500ms;
    color: rgb(202, 18, 144);
}

.mobile-nav-icon{
    
    height: 2rem;
    width: 3rem;
}
.mobile-navbar-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    
    display: none;
    background: transparent;
    cursor: pointer;
}

.mobile-nav-icon[name='close']{
    display: none;
}


/* section start  */

.hero-section{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.image{
    height: 400px;
    width: 300px;
    border-radius: 10%;
}

.bio{
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
    width: 70%;
    line-height: 1.6;
    letter-spacing: 2px;
}
.btn-connect{
    align-items: center;
    font-size: 1.3rem;
    font-weight: 800;
    width: 800px;
    height: 45px;
    padding: 10px;
    margin-top: 20px;
    border: 2px solid #fff;
}
.btn-connect:hover{
    transform: scale(1.1);
    transition: ease-in-out 500ms;
    color: #fff;
    border : none;
    background-color: rgb(202, 18, 144);;
    
}

/* About section start here  */
.about{
    margin-top: 50px;
}
.title-section{
    font-size: 2.8rem;
    font-weight: 800;
    text-align: center;
}
.content-left-right{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.left-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-top: 20px;
}

.img-landscape{
    margin-left: 10px;
    height: 300px;
    width: 400px;
    margin-top: 20px;
    
}
.img-portrait{
    height: 300px;
    width: 200px;
    
}

.special-text{
    color: rgb(23, 224, 234);
}
p{
    text-align: center;
}

/* animations  */
.images:hover{
    transform: scale(1.1);
    transition: ease-in-out 400ms;
}

/* button designs  */
.btn-know{
    font-size: 1.3rem;
    color: #fff;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid white;
    width: 200px;
    margin-top: 20px;
    background-color: rgb(32, 32, 32);
}
.btn-item{
    color: #fff;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid white;
    width: 100px;
    margin-top: 20px;
    background-color: rgb(32, 32, 32);
}
.btn-item:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(202, 18, 144);
    color: #fff;
    border: 1px solid rgb(202, 18, 144) ;
}

/* project section  */

.title-section{
    margin-top: 30px;
}
.all-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around   ;
    align-items: center;
}
.project-card{
    margin-top: 20px;
    max-width: 500px;
    padding: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}
.project-card:hover{
    transform: scale(1.1);
    transition: ease-in-out 300ms ;
}
.description{
    max-width: 400px;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-div{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.tech-stack-title{
    font-size: 1.05rem;
    font-weight: 800;
}
.tech{
    margin-top: 5px;
    padding-left: 10px;
    border-left: 1px solid white;
}

/*
===========================================
responsive design
===========================================
*/ 
@media screen and (max-width: 1560px) {
    .logo{
        text-align: center;
        align-items: center;
    }
    .logo a{
        text-align: center;
        font-size: 1.8rem;
    }

    .bio{
        margin-top: 40px;
    }

    /* about section  */
    .about{
        margin-top: 40px;
    }
    .title-section{
        text-align: center;
    }
    .img-landscape{
        height: 200px;
        width: 400px;
    }
}


@media screen and (max-width:940px) {
    
    .header{
        position: relative;
    }
    .logo{
        font-size: 3rem;
    }
    .mobile-navbar-btn{
        display: block;
        z-index: 999;
        border: 1px solid #fff;
    }
.bio{
    font-size: 0.9rem;
}
    .content-left-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left-text{
        width: 70%;
        font-size: 0.9rem;
    }
    nav{
        /* display: none; */
        
        width: 100%;
        height: 100vh;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        transform: translateX(100%);
        transition: all 0.5s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    nav a{
        color: black;
        background: #fff;
        margin-top: 10px;
    }

    .active nav{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name='close']{
        display: block;
        background:#fff;
        color: #000;
        border: 3px solid #000;
    }
    .active .mobile-navbar-btn .mobile-nav-icon[name='menu']{
        display: none;
    }
}