/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,600;0,800;1,200;1,300;1,400;1,800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Martian+Mono:wght@100;300;400;700&family=Orbitron:wght@400;700&family=Rubik+Vinyl&family=Space+Mono&family=Special+Elite&family=Tangerine&display=swap');

fonts{
    font-family: 'Bangers', cursive;
    font-family: 'Martian Mono', monospace;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Rubik Vinyl', cursive;
    font-family: 'Space Mono', monospace;
    font-family: 'Special Elite', cursive;
    font-family: 'Tangerine', cursive;
}

/* global designs  */
body{
    background: rgb(32, 32, 32);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    color: #fff;
}

a{
    color: #fff;
    text-decoration: none;
    
    align-items: center;
}

.section{
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 5px
}

.section-content{
    margin-left: 200px;
    margin-right: 200px;
}

.justify-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* custom designs */
.navbar{
    font-family: 'Orbitron', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    
    font-size: 3rem;
    font-weight: 800;
    color: #fff;
    padding: 15px;
}
.logo:hover{
    transform: scale(1.1);
    transition: ease-in-out 500ms;
}
.nav-menu a{
    font-size: 1.2rem;
    padding: 15px;
}
.nav-menu a:hover{
    transform: scale(1.2);
    transition: ease-in-out 500ms;
    color: rgb(202, 18, 144);
}

.social-icons a{
    font-size: 1.6rem;
    padding: 15px;
}

.social-icons a:hover{
    transform: scale(1.7);
    transition: ease-in-out 500ms;
    color: rgb(202, 18, 144);
}


/* section start  */
.hero-section{
    height: 80vh;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.image{
    height: 400px;
    width: 300px;
    border-radius: 10%;
}

.bio{
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
    padding: 20px;
}
.btn-connect{
    align-items: center;
    font-size: 1.3rem;
    font-weight: 800;
    width: 400px;
    height: 45px;
    padding: 10px;
    margin-top: 20px;
    border: none;
}
.btn-connect:hover{
    transform: scale(1.1);
    transition: ease-in-out 500ms;
    border: none;
}

/* About section start here  */
.about{
    margin-top: 50px;
}
.content-left-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.title-section{
    font-size: 2.8rem;
    font-weight: 800;
    text-align: center;
}

.left-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* images properties  */

.img-landscape{
    padding-left: 30px ;
    padding-right: 20px;
    height: 200px;
    width: 400px;
    
}
.img-portrait{
    height: 300px;
    width: 200px;
    
}

.special-text{
    color: rgb(23, 224, 234);
}
p{
    text-align: center;
}

/* button  */
.btn-know{
    text-align: center;
    margin-top: 20px;
    width: 100px;
    border: 1px solid;
    padding: 10px;
    background-color:rgb(32, 32, 32);
    color: #fff;
}
.btn-know:hover{
    background-color: rgb(202, 18, 144);
    transform: scale(1.1);
    transition: ease-in-out 200ms;
    border: none;
    
    
}

/* animations  */
.images:hover{
    transform: scale(1.1);
    transition: ease-in-out 400ms;
}



/* responsive design  */ 
@media screen and (max-width: 1350px) {
    .navbar{
        display: flex;
        flex-direction: row;
    }
    .hero-section{
        margin-top: 0;
    }
    .section-content{
        margin-left: 100px;
        margin-right: 100px;
    }
    
    .logo{
        text-align: center;
        align-items: center;
    }
    .logo a{
        text-align: center;
        font-size: 1.8rem;
    }
    .nav-menu a{
        font-size: 0.8rem;
    }
    

    .hero-section{
        height: 100%;
    }

    .bio{
        margin-top: 40px;
    }

    /* about section  */
    .about{
        margin-top: 40px;
    }
    .title-section{
        text-align: center;
    }

    .img-landscape{
        height: 200px;
    width: 400px;
    }
}


@media screen and (max-width:950px) {
    .navbar{
        display: flex;
        flex-direction: column;
    }
    .social-icons{
        visibility: hidden;
    }
    .section-content{
        margin-left: 50px;
        margin-right: 50px;
    }
    .content-left-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-text{
        padding: 0;
        direction: unset;
    }
    .img-landscape{
        margin-top: 20px;
        height: 150px;
    width: 350px;
    }
    
}